
@{
    ViewBag.Title = "SaleHomepage";
}

<h2>SaleHomepage</h2>
<div class="salepage">
    <div class="order-lines">
        <h3>THIS IS AN ORDERLINE</h3>
        <h4>mange mange øl 3x 20kr og en møzzzzzer</h4>
        <br />
        <button>Register Sale</button>
    </div>
    <div class="icons">2</div>
</div>