@using DTO.Models
@model Item

<div class="imgDiv">
    <img src="~/Content/Images/@Model.ImgURL" alt="Image Not Found" />
</div>

<div class="formDiv">
    @Html.EditorForModel()

    <button name="" type="submit">OK</button>
</div>

<style>
    .imgDiv {
        float: left;
        width: 50%;
    }

    .formDiv {
        float: left;
        width: 50%;
    }
</style>
