@using DTO.Models
@model Item

<!--
<div class="imgDiv">
    <img src="~/Content/Images/@Model.ImgURL" alt="Image Not Found" />
</div>
    -->

<div class="formDiv">
    <h2>EDIT</h2>
    @using (Html.BeginForm("UpdateItem", "Item"))
    {
        @Html.EditorForModel()
        <br />
        <button Id="btn" name="" type="submit">OK</button>
    }

</div>

<style>
    .imgDiv {
        float: left;
        width: 50%;
    }

    .formDiv {
        float: left;
        width: 50%;
    }
</style>
<script>
    function editAlert() {
        alert("Edit successfull");
    }

    document.getElementById("btn").addEventListener("click", editAlert)

    $(document).ready(function () {
        $("#Quantity").change(function () {
            var quantity = parseInt($(this).val());
            if (isNaN(quantity) || quantity < 0) {
                alert("Quantity must be a positive number");
                $(this).val(@Model.Quantity);
            }
        });
    });
</script>