@using DTO.Models
@model Item

<!--
<div class="imgDiv">
    <img src="~/Content/Images/@Model.ImgURL" alt="Image Not Found" />
</div>
    -->

<div class="formDiv">
    @using (Html.BeginForm("UpdateItem", "Item"))
    {
        @Html.EditorForModel()
        <br />
        <button name="" type="submit">OK</button>
    }

</div>

<style>
    .imgDiv {
        float: left;
        width: 50%;
    }

    .formDiv {
        float: left;
        width: 50%;
    }
</style>
