@using WebGUI.Models
@model Item

@functions
{
    //Add stuff here as when it makes sense

}

@{
    ViewData["Title"] = "Item editor";
}
<h1>@ViewData["Title"]</h1>

<div class="imgDiv">
    <img src="~/Content/Images/@Model.ImgURL" alt="Image Not Found" />
</div>

<div class="formDiv">

    @Html.EditorForModel()
    <button name="" type="submit">OK</button>

</div>
