@using DTO.Models
@model List<Item>
@{
    //Layout = "~/Shared/_Layout";
}
@*
    This is the main page for the inventory. It displays a list of items in a table.
    Each row in the table is clickable and will display the item details in the edit area.
    
    The edit area is initially empty and will be rendered with the a partial view when a row or the additem btn is clicked.
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="inventorypage">
        <div class="itemarea">
         <span> </span>
         <h2>INVENTORY</h2>
            <button onclick="updateEditDiv(-1, 'AddItem/')" style="margin: 0 0 10px 0">Add item</button>
            <table>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th style="text-align: right; padding: 10px">Quantity</th>
                </tr>
                @{
                    foreach (Item it in Model)
                    {
                    <tr id="@it.ID"  onclick="updateEditDiv(@it.ID, 'UpdateItem/')">
                        <td style="width:55px">
                            <img src="~/Content/Images/@it.ImgURL" alt="Image Not Found" width="50" height="50" />
                        </td>
                        <td style="font-weight:700; width:30%; text-align:left">
                            @it.Name
                        </td>
                        <td style="font-weight: 700; width: auto; text-align:right; padding: 10px">
                            @it.Quantity
                        </td>
                    </tr>
                }
                }
                </table>
            </div>
        <div class="editarea" id="EditDiv">
            <h2>EDIT</h2>
        </div>
    </div>

    <script>
        function updateEditDiv(id, action) {
            $.ajax({
                url: '/Item/' + action + id,
                type: 'GET',
                success: function (result) {
                    $('#EditDiv').html(result);
                    $('tr').css("background-color", "#FFFFFF"); //white
                    let rowID = id;
                    if (rowID > 0) $(`#${rowID}`).css("background-color", "#DFFFDF"); //light grey
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
    <style>
        .inventorypage {
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-template-areas: "itemarea editarea";
            grid-auto-rows:auto;
            padding: 10px;
            height: 70vh;
            position:fixed;
            width:90%
        }

        .itemarea{
            grid-area:itemarea;
            border: 2px solid black;
            text-align: left;
            padding:10px;
            overflow:auto;
        }

        .editarea {
            grid-area: editarea;
            border: 2px solid black;
            text-align: left;
            padding: 10px;
            overflow: hidden;
        }

        table, tr {
            border: 2px solid grey;
            border-spacing: 50px
        }
    </style>
</body>
</html>
