<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 d-flex justify-content-center align-items-center">
                <li>
                    <a href="@Url.Action("SaleHomepage", "Sale")">
                        <img class="nav-link" src="~/Content/Images/Indkøbsvogn.jpg" width="100" height="100" />
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Item")">
                        <img class="nav-link" src="~/Content/Images/Alkohol.jpg" width="100" height="100" />
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("OrderOverview", "Orders")">
                        <img class="nav-link" src="~/Content/Images/Kvittering.jpg" width="100" height="100" />
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

