@model DTO.Models.Item

<!DOCTYPE html>
<html>
<head>
    <title>Item Details</title>
</head>
<body>
    <h2>Item Details</h2>

    <div>
        <h3>@Model.Name</h3>
        <p><strong>ID:</strong> @Model.ID</p>
        <p><strong>Pris:</strong> @Model.Price</p>
    </div>

</body>
</html>