@{
    ViewBag.Title = "Welcome Page";
}

<main>

    <div style="display:flex;flex-direction:column;align-items:center;padding:30px">
        <h1>Velkommen til MåneskinManager</h1>
        <br />
        <img src="~/Content/Images/DiskoMåne.jpg" />
    </div>
 
</main>